@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
body {
    font-family: 'Quicksand', sans-serif; width:100%; margin:0; padding:0; background:#000;overflow-x:hidden;overflow-y:scroll;min-height:600px;
    transition:background 18s; min-height:700px; -webkit-tap-highlight-color: transparent;
}
body.whelk { background:#00a8ff}
body.nail { background:#ff0030}
body.tooth { background:#00de5e}

/*Fonts*/
h1, h1 a {
    font-size:48px; font-size:14vw; font-weight:400; color:#fff; text-align:right;margin:1% 2% 0;
}
#vague h1 a {
    font-size:39px; font-size:9vw;  font-weight:400; color:#fff; text-align:right;margin:1% 2% 0;
}
::selection {
  background: transparent; /* WebKit/Blink Browsers */
}

h2,h3 {
    font-size:30px; font-weight:400; margin: 20px 0 20px;
}
h2.big {
	display:none;
}
h3 {
	text-align:left;font-size:26px;margin: 30px 2% 20px
}
a {
    color:#000; text-decoration:none;
}
#home,.links {
    color:#fff; font-size:24px; 
}
a#home {
    position:absolute;top:5px;left:5px;
}.links {
    -webkit-transition: all .6s ease-out; transition: all .6s ease-out;
}
a.link,p.go { 
	color:#2b00e3;
}
#next {float:right; top:-24px;position:relative; margin-right:1%; display:none;}
#prev {float:left; top:-20px; position:relative; margin-left:1%;display:none;}

.opac {
    opacity:0.3;
}

.goTo {
	font-size:0.7em; cursor:pointer;float:left; margin:0; 
	left:-1%;
	position:relative;
	float:left;
	width:0;
	height:0;
	display:block;
	margin-top: -2%;
	border: 10px solid transparent; border-right:15px solid #666;	
}

.goTo:nth-child(1)  {
	right:-1%;
    left: auto;
	border: 10px solid transparent; border-left:15px solid #666;
	float:right;
}


.helper {
        -moz-transition: 6s ease-out; -webkit-transition: 6s ease-out; transition: all 6s; color:#fff;
}

.helper.fadeout {
	opacity:0;
}

p.go {
	text-decoration:underline;
	opacity:0.8
}
p.go:hover { 
	opacity:1;
}
	.boxes .poetries {
		text-align:center;
	}
/*Elements*/
#wrapper {
    width:96%; padding:0; margin:5% 2% 0; text-align:center; 
}

#main {
    width:99%; padding:1% 0 0 0; margin:0 auto; max-width:1024px;position:relative;
}
nav {
	display:none;
}
nav {
	width: 100%;
	display:block;
}
nav ul {
	margin:0;
	padding-left:0;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
nav li {
	color: rgba(204, 204, 204,0.8);
	display: inline-block;
	width: 33%;
	cursor:pointer;	
	transition:all 0.4s;
	color: rgba(204, 204, 204,0.8);
	padding: 2% 0;
	min-width:70px;
}

nav li.selected{
	color:#fff;
}

li.spacesloth, li.memekitten {
  flex-grow: 2;
  width:15%;
}
#main article nav li {
	color:#666;
}
#main article nav ul {
    margin: -2% -2% 0 -2%;
}
#main article nav li {
    color: #666;
    background-color: #eee;
    margin: 0;
    TEXT-ALIGN: CENTER;
    OUTLINE: 1PX SOLID #666;
}
.items {
	width:100%;
	height:50px;
	overflow:hidden;
	padding:0;
	margin:0;
	position:relative;	
}
.items ul {
	width:2000px;
	display:block;
	padding:0;
	margin:0;	
	position:absolute;
	top:0;
	transition: all 0.3s;	
}
.items li {
    margin: 0;
    cursor: pointer;
    transition: all 0s;
    width: 120px;
	float:left;
    padding: 13px 10px 15px;
	list-style-type:none;
	word-wrap:break-word;
	line-height:2em;
	height:30px;
}

.boxes {
    width:98%; 
	margin:3% 1% 1% 0;
	padding:1% 1% 3% 1%;background:#ccc;min-height:100px;display:inline-block; 
	text-align:center; 
	display:none;
}

article:nth-child(2) {
  display: block;
}

.boxes p, .boxes li { 
	margin:0 2%;
	text-align:left;
	font-size: 22px;
	line-height: 32px;
	
}
.boxes p {
	margin:15px 2%;
}
.stories .boxes p {
	margin:2%;
}
.poetry .boxes p { 	
	text-align:center
}    
.boxes img, .stories .boxes p, .bio .boxes p {
    width:96%;    
}
.boxes img {
	width: 105%;
	margin: 0px 0px 0px -3%;
	max-width: 980px;
}
.poetry .boxes a,.stories .boxes a {
    text-decoration:underline;
}
.boxes a:hover {
    background:#aeadad;
}

.vaguely {
	width: 20vw;
    position: absolute;
    top: 0%;
    left: 2%;
    max-width: 200px;
    min-width: 105px;
    z-index: -1;
	}

.new-things img{
	margin-bottom:30px;
}

.new-things p {
	margin-bottom:20px;
}


html .fb_iframe_widget {
    display: inline-block;
    position: absolute;
    left: 1%;
	top:0;
}

#botty {
    position:fixed;bottom:-80px;width:100%;min-height:45px;margin:0 auto;
    -webkit-transition: all .6s ease-out; transition: all .6s ease-out;
    -webkit-backface-visibility: hidden;	
	display:none;
}
#botty.upIt {
    bottom:0;
}
#botty .contact {
    width:45px;height:45px;float:left;background:url(/img/contactSprite.png)0 0 #fff;
}
#botty .contact.twitter {
  background-position: -95% 0;
  width: 47px;
}
#botty .contact.google {
  background-position: -83% 0;
  width: 51px;
}
#botty .contact.fiddle {
    background-position:-144.3% 0;
}
#botty .contact.fito {
    background-position:-66.5% 0;
}
#botty .contact.linkedin {
    background-position: -55.2% 0;
	width:48px;
}
#botty .contact.soundcloud {
  background-position: -9% 0;
  width: 44px;
}
#botty .contact.git {
    background-position:-18% 0; 
    width:49px;
}
#botty .contact a {
    display:block;width:50px;height:55px;
}




/*
#triangle-left, #triangle-right{
	width: 0;
	height: 0;
	border: 17px solid transparent;
	border-right: 32px solid #fff;
	margin: 0;
	padding: 0;
	display: block;
	margin-top: -4%;
	margin-left: -1%;
	margin-right:0;
	float:left;
	display:none;
}

#triangle-right {
	border: 17px solid transparent;
	border-left: 32px solid #fff;	
	margin-right: 1%;
	margin-left:0;
	float:right;
}
*/
	
	
/***************************************** tabs *****************************************/
@media only screen and (min-width: 520px) { 
    h1,h1 a, #vague h1 a  {
        font-size:70px; font-size:14vw; line-height:1em;
    }
	#vague h1 a  {
		font-size:70px; font-size:9vw;
	}
	
    h2 {
        font-size:37px;
        margin:20px auto 35px;
		padding:15px 20px 0;
    }    
	h2.big {
		color: #fff;
		display:block;
		margin: 1%;
		float: left;
		position: absolute;
		top: 0;
	}
    a#home {
        font-size:28px;
        position:absolute;
        top:2%;
        left:1%;
        display:block;
    }    
    nav {
		width: 96%;
		display:block;
		margin-left:2%;
	}
	nav li {
		display: inline-block;	
		cursor:pointer;		
		width:24%;
	}
    
	#wrapper {
		margin-top:6%;
    }
    #main {
        padding-top:0;
    }
    
    .boxes {
        width:48%; 
        min-height:250px;
        float:left;		
    }
	
	.boxes p {
		text-align:left;
	}
	.poetry.boxes p {
		text-align:center;
	}
    .poetry .boxes, .home .boxes, .stories .boxes, .bio .boxes, .pics .boxes {
        width:94%;
        max-width:500px;
        margin:3% auto; 
        float:none;
        min-height:10px;
		max-width:1200px;
		position:relative;
		/*left:-2%;*/
    }
	
	#triangle-left, #triangle-right{ 
		display:block;
	}
    
	.links {
		display:none;
	}
	
	#nav {
		display:block;
	}
    
    #botty {
        bottom:-32px;
    }
    #botty .contact {
        background-size:normal;    
    }
    #botty .contact, #botty .contact a,#botty .contact.git,#botty .contact.git a {
        width:50px;height:50px;
    }   
	.boxes img {
		max-width: 980px;
		width: 112%;
		margin: 0px 0px 0px -6%;		
	}
    
}









/***************************************** desktops *****************************************/
@media only screen and (min-width: 980px) { 
    h1,h1 a, #vague h1 a  { 
		font-size:105px;
	}
	
	h2 {
        font-size:47px;
    }
    
    #main {
        max-width:1400px;
    }

    #next {
        display:block;
    }
    #prev {        
        display:block;
    }
	
	li.spacesloth, li.memekitten {
		flex-grow: 1;
	}
	
	.boxes img {
		max-width: 1500px;	
	}
	
	nav li {
		display: inline-block;	
		cursor:pointer;		
		width:12%;
	}	
	
	
	.boxes div p {
		font-size: 20px;
		line-height: 32px;
	}

}












/*****************************fixes**************************************/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this ru