@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Special+Elite|Comfortaa:400,700);

body {
	font-size: 1em;
	line-height: 1.4;
	background:#1497f8;
	/*font: 32px/37px 'Amatic SC', cursive;*/
        font: 32px/37px 'Comfortaa', cursive;
	letter-spacing: -1px;	
	min-height:100%;
}


/*global*/
.navbar-inverse {
	background-color: #222222;
	border-color: #080808;
	background: rgba(0,0,0,.85);
}

article {
	background: #eee;
	padding: 20px 0;
	margin: 0 0 20px 0;
}
.cell {
width:440px;
}
article img {
	margin: 16px 0;
	border-radius: 5px;
}

.col-lg-12 .img-responsive{
    width: 100%;
    margin:0 auto
  }
  .col-lg-12.story .img-responsive{
    width: 48%;

  }

.col-lg-6.col-md-12.about{
    background: rgb(254, 255, 137);
}
.col-lg-6.col-md-12.poetry
{
    background-color: rgb(92, 186, 255);
}
.col-lg-6.col-md-12.stories
{
    background-color: rgb(108, 255, 132);
}
.col-lg-6.col-md-12.about
{
    background-color: rgb(252, 190, 92);
}

/*media*/
@media (max-width: 768px) {
.jumbotron {
	padding: 30px 0px;
}
.jumbotron h1 {
	padding-right: 0;
}
.jumbotron {
	background-image:none
}

.ui-dialog .ui-dialog-content {
	font-size: 1.2em;
	font-family: 'Amatic SC';
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget-content {
	border:none;
	text-align:center;
	background: rgb(254, 255, 137)
}
.ui-dialog.ui-widget {
	box-shadow: 0 2px 3px #000;
}
.ui-dialog .ui-dialog-titlebar {
    display:none;
}
	.ui-widget button {
		padding: 5px 20px;
		box-shadow: none;
		border: none;
		margin: 0 auto;
		float: none;
	}
}
footer p, footer p a{
	color:#777;
}

@media (min-width: 992px) {
	article {
		min-height:220px;
	}
	html .col-lg-6 {
		width: 48%;
		margin: 1%;
		float:left
	}
}

@media (min-width: 1200px)
	.col-lg-6 {
		width: 48%;
		margin: 1%;
	}
}

